*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.awards{
    width: 100%;
    margin: 20em 0;
}

.awards-item{
    width: 100%;
    padding: 0 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.awards p {
    position: absolute;
    top: 0%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: -0.02em;
    transition: color 0.25s;
}

.awards-info, .awards-name, .awards-tag{
    position: relative;
    overflow: hidden;
}

.awards-info, .awards-tag{
    flex: 1;
    height: 14px;
    font-size: 14px; 
}

.awards-tag{
    text-align: right;
}

.awards-name{
    flex: 4;
    height: 60px;
    font-size: 60px;
    text-align: center;
}

.awards-info p:nth-child(2),
.awards-name p:nth-child(2),
.awards-tag p:nth-child(2){
    top: 100%;
    color: #000;
}

.awards:hover .awards-info p:nth-child(1),
.awards:hover .awards-name p:nth-child(1),
.awards:hover .awards-tag p:nth-child(1){
    color: rgb(165, 165, 165);
}

.awards-preview{
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 275px;
    z-index: 2;
    pointer-events: none;
}

.awards-preview-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.awards-preview-img-2{
    top: 20px;
    left: 20px;
}

.awards-preview-img img{
    position: absolute;
    top: 0;
    left: 0;
}

