@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body{
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.revealer{
  flex: 1;
  width: 100%;
  background-color: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.imgBanner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  width: 100%;
  height: 100%;
  visibility: visible;
  will-change: transform;
  opacity: 0;
}

.imgBanner:first-child{
  opacity: 1;
}

.images.stacked-container{
  position: absolute;
  left: 2em;
  bottom: 2em;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 1em;
  transform: none;
  will-change: transform;
}

.imgBanner.stacked{
  position: relative;
  width: 150px;
  height: 100px;
  transform: none;
  top: auto;
  left: auto;
  opacity: 1;
  will-change: transform;
}

.cover-img{
  position: absolute;
  right: 2em;
  bottom: 2em;
  width: 40%;
  height: 50%;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.cover-img img{
  filter: saturate(0);
}

/* .site-info{
  position: absolute;
  bottom: 2em;
  left: 2em;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-info .row{
  display: flex;
  gap: 2em;
}

.site-info .row .col{
  flex:1;
} */

.site-info h2{
  font-size: 25px;
  font-weight: 500;
  line-height: 1.25;
}

.site-info p{
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #000;
}

.site-info .row:nth-child(2) .col:nth-child(2) {
  display: flex;
}

.address, .socials{
  flex: 1;
}

.address p,
.socials p{
  line-height: 1.25;
}

.line{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} 

.site-info h2 .line span, .line p{
  position: relative;
  will-change: transform;
}

.site-info h2 .line span{
  display: flex;
  transform: translateY(100%);
}

.line p{
  transform: translateY(100%);
}

/* === Awards === */
.awards{
  width: 100%;
  margin: 20em 0;
}

.awards-item{
  width: 100%;
  padding: 0 2em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.awards p {
  position: absolute;
  top: 0%;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: -0.02em;
  transition: color 0.25s;
}

.awards-info, .awards-name, .awards-tag{
  position: relative;
  overflow: hidden;
}

.awards-info, .awards-tag{
  flex: 1;
  height: 14px;
  font-size: 14px; 
}

.awards-tag{
  text-align: right;
}

.awards-name{
  flex: 4;
  height: 60px;
  font-size: 60px;
  text-align: center;
}

.awards-info p:nth-child(2),
.awards-name p:nth-child(2),
.awards-tag p:nth-child(2){
  top: 100%;
  color: #000;
}

.awards:hover .awards-info p:nth-child(1),
.awards:hover .awards-name p:nth-child(1),
.awards:hover .awards-tag p:nth-child(1){
  color: rgb(165, 165, 165);
}

.awards-preview{
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 275px;
  z-index: 2;
  pointer-events: none;
}

.awards-preview-img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.awards-preview-img-2{
  top: 20px;
  left: 20px;
}

.awards-preview-img img{
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio p,
.portfolio a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

.portfolio section{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.portfolio-pinned{
    background-color: #111;
}

.about{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
}

.portfolio-info > div{
    flex: 1;
}

.portfolio-link{
    display: flex;
    justify-content: flex-end;
}

.portfolio-link a{
    padding: 0.35em;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}

.portfolio-progress-bar{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 120px;
    background-color: rgb(40, 40, 40);
}

.portfolio-progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 2;
    background-color: #fff;
}

.portfolio-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25); 
    width: 35%;
    height: 70%;
    z-index: -1;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.portfolio-img img{
    filter: contrast(1) brightness(1);
}

.lenis.lenis-smooth{
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent]{
    overscroll-behavior: contain;
}

.lenis.lenis-stopped{
    overflow: hidden;
}

.lenis.lenis-smooth iframe{
    pointer-events: none;
}

/* Contact Section */
.contact-wrapper{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
}

.contact-wrapper section{
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-hero{
  height: 100vh;
}

.contact-hero .contact-hero-img{
  width: 50%;
  aspect-ratio: 1;
}

.contact-footer{
  height: 50vh;
  align-items: flex-start;
}

.contact-footer a{
  font-size: 4vw;
  color: #fff;
}

.contact-main{
  width: 100vw;
  height: 150vh;
  flex-direction: column;
}

.contact-row{
  position: relative;
  width: 100vw;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.contact-card{
  position: relative;
  width: 40%;
  height: 360px;
  border-radius: 0.75em;
  overflow: hidden;
  will-change: transform;
}

.contact-main-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-logo{
  width: 150px;
  height: 150px;
  border: 2px solid #FFF;
  border-radius: 100%;
  overflow: hidden;
  transform: scale(0);
}

.contact-copy{
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-line{
  position: relative;
  margin: 0.5em 0;
  width: max-content;
  height: 28px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.contact-line p{
  position: relative;
  font-size: 24px;
  transform: translateY(30px);
  color: #FFF;
}

.contact-wrapper button{
  position: relative;
  padding: 1em 2em;
  font-size: 18px;
  color: #fff;
  border: 2px solid #FFF;
  border-radius: 8em;
  background: none;
  outline: none;
  transform: translateY(30px);
  opacity: 0;
}

@media (max-width: 900px){
  .contact-card{
    width: 50%;
    height: 240px;
  }
}
